.GoFish {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 800px;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.card {
  height: 150px;
}
button {
  width: 200px;
  height: 80px;
}
