.CrazyEights {
  font-size: 25px;
}

.CrazyEights > h1 {
  background-color: green;
  color: gold;
}

.hand {
  width: 130px;
  margin: 10px;
}

button {
  font-size: 25px;
  height: 80px;
  width: 250px;
  background-color: green;
  color: yellow;
}
