.CrazyEights {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CrazyEights > h1 {
  background-color: green;
  color: gold;
  width: 100%;
}

.hand {
  width: 140px;
  margin: 10px;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 800px;
  color: white;
  padding: 10px;
}
