.War {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rules {
  background-color: gray;
  border: solid green;
  width: 800px;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.War > h1 {
  background-color: green;
  color: gold;
  width: 100%;
}
.mat {
  display: flex;
  border: solid black;
  background-color: green;
  color: yellow;
}
.Comwarmat {
  margin: 20px;
}
.ComPlayMat {
  margin: 20px;
}

.Playwarmat {
  margin: 20px;
}
.PlayPlayMat {
  margin: 20px;
}

@media (max-width: 1600px) {
  .War {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    height: 180px;
  }
  .rules {
    background-color: gray;
    border: solid green;
    width: 800px;
    color: white;
    padding: 10px;
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  img {
    height: 120px;
  }
  .War {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rules {
    background-color: gray;
    border: solid green;
    width: 550px;
    color: white;
    padding: 10px;
    font-size: 17px;
  }
}
