.Suggestions {
  font-size: 30px;
  margin: 15px;
  width: 85%;
  margin: 0 auto;
}

.suggest {
  margin: 20px;
  height: 90px;
  width: 350px;
  font-size: 25px;
}

.suggest:hover {
  background-color: lightgreen;
}

@media (max-width: 1600px) {
  .Suggestions {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .Suggestions {
    font-size: 17px;
  }
  .suggest {
    margin: 20px;
    height: 60px;
    width: 250px;
    font-size: 21px;
  }
}

@media (max-width: 600px) {
  .Suggestions {
    font-size: 17px;
  }
  .suggest {
    margin: 15px;
    height: 50px;
    width: 200px;
    font-size: 16px;
  }
}
