.Suggestions {
  font-size: 25px;
  margin: 15px;
  width: 85%;
  margin: 0 auto;
}

input {
  margin: 20px;
  height: 70px;
  width: 300px;
  font-size: 24px;
}

@media (max-width: 1600px) {
  .Suggestions {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .Suggestions {
    font-size: 17px;
  }
  input {
    margin: 20px;
    height: 60px;
    width: 250px;
    font-size: 21px;
  }
}
