.SnipSnapSnorum {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#darkMode {
  color: turquoise;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 950px;
  color: white;
  padding: 10px;
}

.rules li {
  margin: 15px;
}

#darkmode {
  margin: 20px;
  border: solid red;
  background-color: gray;
}

.playSpace {
  margin: 15px;
  width: 90%;
  border: solid black;
  background-color: green;
  /* background-image: url("../../../Images/thumbnail.jpg"); */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; */
  padding: 10px;
}

.card {
  height: 110px;
  border: solid gold;
  /* padding: 10px; */
  margin: 20px;
}

@media (max-width: 500px) {
  .SnipSnapSnorum {
    font-size: 20px;
  }

  .rules {
    width: 350px;
    font-size: 15px;
    padding: 5px;
  }

  .rules li {
    margin: 12px;
  }

  .playSpace {
    margin: 10px;
    width: 90%;
    border: solid black;
    padding: 10px;
  }

  .card {
    height: 70px;
    border: solid gold;
    /* padding: 10px; */
    margin: 5px;
  }
}
