.SnipSnapSnorum {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#darkMode {
  color: turquoise;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 800px;
  color: white;
  padding: 10px;
  font-size: 20px;
}

div#darkmode {
  margin: 20px;
  width: 90%;
  border: solid black;
  background-color: gray;
  /* background-image: url("../../../Images/thumbnail.jpg"); */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; */
  padding: 25px;
}

.playSpace {
  margin: 20px;
  width: 90%;
  border: solid black;
  background-color: green;
  /* background-image: url("../../../Images/thumbnail.jpg"); */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; */
  padding: 25px;
}

.card {
  height: 120px;
  border: solid gold;
  /* padding: 10px; */
  margin: 20px;
}
