.SnipSnapSnorum {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 800px;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.playSpace {
  margin: 35px;
  width: 90%;
  border: solid black;
  background-image: url("../../../Images/gr-download.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.card {
  height: 120px;
}
