.Accounts {
  font-size: 20px;
}

input {
  font-size: 20px;
  margin: 15px;
  width: 250px;
  height: 50px;
  background-color: rgb(116, 183, 116);
  border: none;
}

.errorMessage {
  color: white;
  background-color: red;
  font-size: 40px;
  /* height: 100px; */
  padding: 3px;
}

@media (max-width: 1600px) {
  .Accounts {
    font-size: 18px;
  }

  input {
    font-size: 17px;
    margin: 10px;
    width: 180px;
    height: 40px;
  }
}

@media (max-width: 1000px) {
  .Accounts {
    font-size: 15px;
  }

  input {
    font-size: 14px;
    margin: 10px;
    width: 100px;
    height: 30px;
  }
}

@media (max-width: 700px) {
  .Accounts {
    font-size: 10px;
  }

  input {
    font-size: 12px;
    margin: 10px;
    width: 250px;
    height: 35px;
  }
}
