.Accounts {
  font-size: 23px;
}

input {
  font-size: 28px;
  margin: 25px;
  width: 400px;
  height: 80px;
  background-color: rgb(116, 183, 116);
  border: solid black;
  text-align: center;
}

.errorMessage {
  color: white;
  background-color: red;
  font-size: 30px;
  /* height: 100px; */
  padding: 3px;
}

@media (max-width: 1850px) {
  .Accounts {
    font-size: 18px;
  }

  input {
    font-size: 25px;
    margin: 20px;
    width: 350px;
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .Accounts {
    font-size: 15px;
  }

  input {
    font-size: 20px;
    margin: 20px;
    width: 250px;
    height: 60px;
  }
}

@media (max-width: 700px) {
  .Accounts {
    font-size: 12px;
    padding: 15px;
  }

  input {
    font-size: 18px;
    margin: 10px;
    width: 210px;
    height: 40px;
  }

  .errorMessage {
    color: white;
    background-color: red;
    font-size: 24px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 3px;
  }
}
