.Navbar {
  background-color: gray;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90px;
  border: solid 1px green;
}

a {
  color: white;
  margin: 25px;
}

@media (max-width: 1600px) {
  .Navbar {
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
  }
}

@media (max-width: 1100px) {
  .Navbar {
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
  }
}
