.Navbar {
  background-color: gray;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  border: solid 3px green;
}

a {
  color: white;
  margin: 25px;
}

@media (max-width: 1600px) {
  .Navbar {
    font-size: 25px;
  }
  a {
    margin: 20px;
  }
}

@media (max-width: 1150px) {
  .Navbar {
    font-size: 18px;
  }
  a {
    margin: 15px;
  }
}

@media (max-width: 600px) {
  .Navbar {
    font-size: 12px;
  }
  a {
    margin: 10px;
  }
}
