.Navbar {
  background-color: gray;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  margin: 10px;
}

a {
  font-size: 25px;
  color: blue;
  margin: 10px;
}

@media (max-width: 1500px) {
  .Navbar {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    margin: 10px;
  }
}

@media (max-width: 1000px) {
  .Navbar {
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    margin: 10px;
  }
}
