.SpiderSolitare {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playmat {
  width: 1140px;
  border: solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.playmat img {
  width: 150px;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.hand {
  width: 140px;
  margin: 10px;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 800px;
  color: white;
  padding: 10px;
}

.row {
  display: flex;
}
