.SpiderSolitare {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playmat {
  width: 90%;
  border: solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.playmat img {
  width: 160px;
  /* position: absolute; */
  margin-bottom: -100px;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  padding-bottom: 30px;
}

.hand {
  width: 140px;
  margin: 10px;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 850px;
  color: white;
  padding: 10px;
}
.rules li {
  margin: 15px;
}

.row {
  display: flex;
}

.score {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.moveCards {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.moveCards img {
  height: 100px;
  width: 80px;
}

.deal {
  margin-top: 500px;
  margin-bottom: 100px;
}

.deal img {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 2000px) {
  .playmat {
    width: 90%;
    align-items: center;
    padding-left: 15px;
    margin-left: 15px;
  }

  .playmat img {
    width: 140px;
    height: 185px;
  }
  .row {
    padding: 10px;
  }
}

@media only screen and (max-width: 1700px) {
  .playmat {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
  }

  .playmat img {
    width: 105px;
    height: 135px;
  }
  .row {
    padding: 10px;
    margin-bottom: 20px;
  }

  .deal {
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 10%;
  }
  .deal img {
    height: 100px;
    width: 80px;
  }
}

@media only screen and (max-width: 1500px) {
  .playmat {
    width: 90%;
    align-items: center;
    padding-left: 10px;
    margin-left: 10px;
  }

  .playmat img {
    width: 100px;
    height: 125px;
  }
  .row {
    padding: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .playmat {
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 8px;
    margin-left: 8px;
  }

  .playmat img {
    width: 90px;
    height: 110px;
  }
  .row {
    padding: 15px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .playmat {
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    /* overflow: scroll; */
    padding-left: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    height: auto;
  }

  .rules {
    width: 75%;
    padding: 10px;
    font-size: 16px;
  }

  .playmat img {
    width: 65px;
    height: 85px;
  }
  .row {
    padding: 5px;
    margin-bottom: 60px;
  }
}
