.SpiderSolitare {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playmat {
  width: 90%;
  border: solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.playmat img {
  width: 150px;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
}

.hand {
  width: 140px;
  margin: 10px;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 850px;
  color: white;
  padding: 10px;
}
.rules li {
  margin: 15px;
}

.row {
  display: flex;
}

@media only screen and (max-width: 1750px) {
  .playmat {
    width: 95%;
    border: solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
  }

  .playmat img {
    width: 120px;
    height: 150px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
  }
}
