img {
  height: 200px;
  margin: 10px;
}
.Blackjack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Blackjack > h1 {
  background-color: green;
  color: gold;
  width: 100%;
  font-size: 40px;
}
.blackjack {
  font-size: 30px;
  background-color: blue;
  color: white;
  width: 90%;
  margin: 20px;
}

.dealer {
  border: solid green;
  width: 800px;
  margin: 20px;
}

.player {
  border: solid green;
  width: 800px;
  margin: 20px;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 800px;
  color: white;
  padding: 10px;
  font-size: 20px;
}
