.matchzone {
  width: 95%;
  border: solid black;
  margin: 50px;
}

.matchzone > img {
  height: 170px;
  width: 170px;
  padding: 5px;
}

.rules {
  background-color: gray;
  border: solid green;
  width: 950px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.rules li {
  margin: 15px;
}

.Matching {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1650px) {
  .matchzone {
    width: 95%;
  }
  .matchzone > img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 1350px) {
  .matchzone {
    width: 95%;
  }
  .matchzone > img {
    height: 100px;
    width: 100px;
  }
}
