.matchzone {
  width: 1500px;
  border: solid black;
}

.Matching > h1 {
  background-color: green;
  color: gold;
  width: 100%;
  font-size: 40px;
}

.matchzone > img {
  height: 250px;
  width: 250px;
}

.Matching {
  display: flex;
  flex-direction: column;
  align-items: center;
}
